[submodule "Week 02/responsive-web-design-I"]
	path = Week 02/responsive-web-design-I
	url = https://github.com/dylanmestyanek/responsive-web-design-I.git
[submodule "Week 02/Preprocessing-I"]
	path = Week 02/Preprocessing-I
	url = https://github.com/dylanmestyanek/Preprocessing-I.git
[submodule "Week 02/Preprocessing-II"]
	path = Week 02/Preprocessing-II
	url = https://github.com/dylanmestyanek/Preprocessing-II.git
[submodule "Week 02/Sprint-Challenge--Advanced-CSS"]
	path = Week 02/Sprint-Challenge--Advanced-CSS
	url = https://github.com/dylanmestyanek/Sprint-Challenge--Advanced-CSS.git
[submodule "Week 01/User-Interface"]
	path = Week 01/User-Interface
	url = https://github.com/dylanmestyanek/User-Interface.git
[submodule "Week 01/Sprint-Challenge--User-Interface"]
	path = Week 01/Sprint-Challenge--User-Interface
	url = https://github.com/dylanmestyanek/Sprint-Challenge--User-Interface.git
[submodule "Week 01/UI-III-Flexbox"]
	path = Week 01/UI-III-Flexbox
	url = https://github.com/dylanmestyanek/UI-III-Flexbox.git
[submodule "Week 03/JavaScript-I"]
	path = Week 03/JavaScript-I
	url = https://github.com/dylanmestyanek/JavaScript-I.git
[submodule "Week 03/JavaScript-II"]
	path = Week 03/JavaScript-II
	url = https://github.com/dylanmestyanek/JavaScript-II.git
[submodule "Week 03/JavaScript-III"]
	path = Week 03/JavaScript-III
	url = https://github.com/dylanmestyanek/JavaScript-III.git
[submodule "Week 03/JavaScript-IV"]
	path = Week 03/JavaScript-IV
	url = https://github.com/dylanmestyanek/JavaScript-IV.git
[submodule "Week 03/Sprint-Challenge--JavaScript"]
	path = Week 03/Sprint-Challenge--JavaScript
	url = https://github.com/dylanmestyanek/Sprint-Challenge--JavaScript.git
[submodule "Week 05/DOM-I"]
	path = Week 05/DOM-I
	url = https://github.com/dylanmestyanek/DOM-I.git
[submodule "Week 05/DOM-II"]
	path = Week 05/DOM-II
	url = https://github.com/dylanmestyanek/DOM-II.git
[submodule "Week 05/Newsfeed-Components"]
	path = Week 05/Newsfeed-Components
	url = https://github.com/dylanmestyanek/Newsfeed-Components.git
[submodule "Week 05/github-usercard"]
	path = Week 05/github-usercard
	url = https://github.com/dylanmestyanek/github-usercard.git
[submodule "Week 05/Sprint-Challenge-Applied-Javascript"]
	path = Week 05/Sprint-Challenge-Applied-Javascript
	url = https://github.com/dylanmestyanek/Sprint-Challenge-Applied-Javascript.git
[submodule "Week 06/Sprint-Challenge-React-Wars"]
	path = Week 06/Sprint-Challenge-React-Wars
	url = https://github.com/dylanmestyanek/Sprint-Challenge-React-Wars.git
[submodule "Week 06/lambda-calculator"]
	path = Week 06/lambda-calculator
	url = https://github.com/dylanmestyanek/lambda-calculator.git
[submodule "Week 06/nasa-photo-of-the-day"]
	path = Week 06/nasa-photo-of-the-day
	url = https://github.com/dylanmestyanek/nasa-photo-of-the-day.git
[submodule "Week 06/react-american-football-scoreboard"]
	path = Week 06/react-american-football-scoreboard
	url = https://github.com/dylanmestyanek/react-american-football-scoreboard.git
