body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://i.pinimg.com/originals/81/cd/56/81cd56e450d39a77b00cfa9789354a45.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
