@keyframes spinner {
    0% {
        transform: translate3d(0%, -50%, 0)  rotate(0deg);
    }
    100% {
         transform: translate3d(0%, -50%, 0)  rotate(360deg);
    }
}


.loader-wrapper{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    align-items:center;
    justify-content: center;
    width:100vw;
    height:100vh;
    z-index:1000;
    background-color: #000b;

    .loader-content{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content: center;

        .loader-icon{
            font-size: 5rem;
            color:$sss_green;
            align-items: center;
            align-content:center;
            animation: 800ms linear infinite spinner;    
        }

        h2{
            color:#fff;
        }

        .loader-message{
            color:#fff;
            font-size:2rem;
            margin-top:10px;
        }
    }
}