*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    outline:none;
}

html{
    font-size:62.5%;
}

body{
    background-color:#111;
    font-size:1.6rem;
    font-family: 'Montserrat', sans-serif;
}